.cart {
  display: flex;
  /* align-items: center; */
  flex: 1;
}

.cartLeft {
  flex: 0.7;
  margin: 15px;
  padding: 10px;
}

.cartRight {
  /* border: 1px solid orange; */
  flex: 0.3;
  padding: 10px;
  margin: 10px;
}

.cartContainer {
  display: flex;
  margin-bottom: 20px;
}

.cartDescription {
  margin-top: 10px;
  margin-left: 10px;
  flex-grow: 1;
}
.cartButtonContainer {
  display: flex;
  flex-direction: column;
}
.cartButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cartButton {
  background-color: #ffd700;
  padding: 5px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  border: none;
  border: 2px solid #febe10;
  margin-top: 8px;
}
.cartRightLocation {
  display: flex;
  margin-top: 10px;
}

.cartRightDescription {
  margin-left: 10px;
}

.cartRightText {
  font-size: 13px;
  font-weight: 400;
  margin-top: 3px;
}

.cartRightButton {
  margin-top: 7px;
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #febe10;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.cartRightCoupon {
  margin-top: 15px;
  display: flex;
}

.cartRightCouponText {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.cartRightCouponsmall {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 500;
}

.cartRightCheckout {
  margin-top: 14px;
}

.cartRightCheckoutpart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.cartRightCheckoutButton {
  background-color: #febe10;
  width: 400px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}
